.filter {
  &-item {
    &--header {
      height: 48px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $gray-300;

      &,
      &:focus {
        outline: none;
      }

      &-icon {
        width: 40px;
        height: 40px;
        transition: transform 0.4s ease 0s;

        &.active {
          transform: rotate(180deg);
        }
      }

      &-title {
        font-size: 16px;
      }
    }

    &--body {
      &.hidden {
        display: none;
      }
    }
  }
}
